
@{
    ViewData["Title"] = "LoginSuccess";
}

<h1>LoginSuccess</h1>

<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@ViewBag.Username</td>
            <td>@ViewBag.Password</td>
        </tr>
    </tbody>
</table>